@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v22/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}
.channel-textarea-upload,
.channel-textarea-upload:hover {
   border: none !important;
}


.channel-textarea {
    margin: 0;
}

.channel-textarea-inner {
    padding: 8px 4px;
}

.guilds-wrapper {
    padding-top: 0px !important;
}
.header-toolbar{
    margin-right:70px;
}

/**/
.channel-textarea {
margin: 10px 0 10px;
}
.theme-dark .channel-textarea-inner textarea {
    min-height:22px;
    margin-top:auto;
    margin-bottom:auto;
    margin-left:4px;
}
.theme-dark .channel-textarea-inner {
    min-height:58px;
	border:none;
}
.channel-textarea-emoji {
    margin-top:auto;
    margin-bottom: auto;
}

.app .chat form .typing {
    bottom: 100%;
    width: auto;
    left:auto;
    padding:0 5px;
    right:0px;
    transition: height 200ms ease-out;
    border-radius: 5px 0 0 0;
    border-top: 1px #1c1e22 solid;
    border-left: 1px #1c1e22 solid;
    z-index:1;
}
.chat form .typing:after{
	content:"";
	width:100%;
	height:27px;
	bottom:0;
}
.chat form .typing:hover {
    height: 0px;
}
/*end*/

.theme-dark .channel-textarea-inner .channel-textarea-upload:hover{
    background-color:transparent;
}

.theme-dark .channel-textarea-inner .channel-textarea-upload {
    left:6px;
    top:1px;
}


.channels-wrap .scroller {
    overflow-x: hidden;
}




.guilds-wrapper ::-webkit-scrollbar {
    display: none;
}
.header-toolbar .separator:last-of-type {
    margin-right: 0;
}
.guild-header header:hover,
.guild-header.popout-open header{
/    background-color:#171717;
    background-color:#25272b;
    }

.guild-header header{
/    background-color:#171717;
    background-color:#2e3136;
/    box-shadow:0 1px 0 rgba(0, 0, 0, 0.2),inset 0 -1px 0 rgba(0, 0, 0, .1);
    }
.flex-vertical .channels-wrap {
    width: 10px;
    min-width: 0!important;
    overflow:visible;
}
.guild-channels-wrapper,
 .private-channels   {
    transition: all 300ms ease;
    width:11px;
    z-index:1;
}
.guild-channels-wrapper:hover,
.private-channels:hover {
    transition: all 300ms ease;
    width:241px;
    z-index:200;
}
.account {
    transition: transform 300ms ease;
    transform:translate(0px);
    width:220px;
    z-index:9;
/    background: #1a1a1a;
}
.chat form {
    transition: all 300ms ease;
    margin: 0;
    margin-left:230px;
    border-top:1px solid #1c1e22!important;
}
.account{
    height:58px;
}

.channels-wrap #rtc-connection,
.channels-wrap .account,
.channels-wrap .private-channels,
.channels-wrap .guild-channels{
    position:relative;
    border-right:1px solid #1c1e22;
}

#rtc-connection {
    transition: transform 300ms ease;
    transform:translate(0px);
    width:220px;
    z-index:9;
/    background: #1a1a1a;
}
#rtc-connection {
    transition: transform 300ms ease;
    transform:translate(-230px);
}
#rtc-connection:hover {
    transition: transform 300ms ease;
    transform:translate(0px);
}
.channels-wrap #rtc-connection{
    animation:grow 250ms linear;
}
@keyframes grow{
    0%{
        height:0px;
    }
    100%{
        height:29px;
    }
}
.flex-vertical .guilds-wrapper {
    transition: all 300ms ease;
    z-index:10;
}
.channels-wrap #rtc-connection .btn-group{
    position: absolute;
    top: 0;
    right: 0;
    height:48px;
    width:28px;
    transition:width 250ms ease;
    border:none;
    border-radius:0;
    border-left:1px solid #1c1e22;
}
.channels-wrap .account .btn-group{
    position: absolute;
    top: 0;
    right: 0;
    height:70px;
    width:28px;
    transition:width 250ms ease;
    border:none;
    border-radius:0;
    border-left:1px solid #1c1e22;
}
.channels-wrap .account:hover .btn-group,
.channels-wrap #rtc-connection:hover+.account .btn-group,
.channels-wrap #rtc-connection:hover .btn-group{
    width:56px;
}



.btn-group .btn,
.channels-wrap #rtc-connection .btn-group .btn{
    position: absolute;
    top: 0px;
    right: 0px;
    height:28px;
    width:28px;
    padding:0;
    border:none;
    box-shadow:none;
    border-radius:0;
}

.channels-wrap .account .btn-group .btn-settings{
    height:58px;
}
.channels-wrap .account .btn-group .btn-mute{
    top: 30px;
    right: 28px;
    height:29px;
}
.channels-wrap .account .btn-group .btn-deafen{
    right: 28px;
    height:30px;
}


.channels-wrap #rtc-connection .btn-group .btn-info{
    right: 28px;
    height:48px;
}
.channels-wrap #rtc-connection .btn-group .btn-disconnect{
    height:48px;
}
.account .account-details .username{
    max-width:132px;
}
.channel-textarea{
    margin:0;
}
/*Shrink Channel Members*/
.channel-members-wrap{
    width:60px;
    min-width:60px;
}
.channel-members{
    transform:translate(0px);
    z-index:1;
    transition:transform 300ms ease;
}
.channel-members:hover{
    transform:translate(-180px);
}
.channel-members:not(:hover) .member .member-activity,
.channel-members:not(:hover) .member .member-username-inner{
    opacity:0;
    transition:opacity 300ms ease;
}
.channel-members:not(:hover) >h2, .channel-members:not(:hover) .member{
padding-left:15px;
}
/*end*/
/*Shrink Search*/
.search-results-wrap{
    width:60px;
    min-width:60px;
	overflow:visible;
}
.search-results-wrap .search-header{
    transform:translate(0px);
    z-index:1000;
	width:378px;
    transition:transform 300ms ease;
	background-color: #2e3136;
}
.search-results-wrap .scroller-wrap{
    transform:translate(0px);
    z-index:1000;
	width:418px;
    transition:transform 300ms ease;
	background-color: #2e3136;
}
.search-results-wrap:hover .search-header,
.search-results-wrap:hover .scroller-wrap{
    transform:translate(-358px);
}
/*end*/
.chat .new-messages-bar,
.chat .jump-to-present-bar {
	max-height:70px;
	left: 0px;
    right:0px;
	border-radius:0;
	overflow:hidden;
	transition:max-height 100ms linear;
}
@media screen and (max-height: 550px) {
.chat .new-messages-bar:not(:hover),
.chat .jump-to-present-bar:not(:hover) {
	max-height:10px;
}
.app .channel-textarea-inner{
	min-height:30px;
}
.chat .private-channel-call:not(:hover){
	height:10px;
}
}
@media screen and (max-width: 750px) {
.avatar-large {
    display:none;
}
.header-toolbar{
    display:flex;
    justify-content:flex-end;
}
.search-bar{
    display:flex;
    justify-content:flex-end;
    transition:width 100ms linear;
    overflow:hidden;    
}
.header-toolbar .search:not(.focused):not(.open) .search-bar:not(:hover):not(:focus):not(:active){
    width:30px;
    transition:width 100ms linear;
}
.header-toolbar .separator+button+button,
.header-toolbar button:first-child+button+button,
.header-toolbar button:first-child+button{
    transition:width 100ms linear;
    overflow:hidden;
    margin:0;
    width:38px;
    display:flex;
    justify-content:flex-end;
}
.header-toolbar .separator+button:not(:hover)+button:not(:hover),
.header-toolbar button:first-child:not(:hover)+button:not(:hover)+button:not(:hover),
.header-toolbar button:first-child:not(:hover)+button:not(:hover){    
    width:0;
    transition:width 100ms linear;
}
.account {
    transition: transform 300ms ease;
    transform:translate(-230px);
}
#rtc-connection:hover+.account,
.account:hover {
    transition: transform 300ms ease;
    transform:translate(0px);
}
.chat form {
    transition: all 300ms ease;
    margin-left:0px;
}
.guild-channels-wrapper:hover {
    border-radius: 0 0 5px 0;
}
.flex-vertical .guilds-wrapper {
    width: 10px;
    min-width: 0!important;
    transition: all 300ms ease;
    z-index:10;
}
.guilds-wrapper:hover {
    width: 70px;
}
.channel-members-wrap{
    width:10px;
    min-width:10px;
}
.channel-members:hover{
    transform:translate(-230px);
}
/**/
.popout.popout-bottom-right.no-arrow,
.popout.popout-bottom.no-shadow.search-popout{
	top:35px!important;
	left:10px!important;
	transform:none!important;
	width:calc(100% - 20px);
	height:calc(100% - 75px);
}
.popout.popout-bottom-right.no-arrow .messages-popout-wrap,
.popout.popout-bottom-right.no-arrow .private-channel-recipients-invite {
	min-height:100%;
	width:100%;
	max-height:100%!important;
}
}
.header-toolbar:after{
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right: 10px solid #aeafb1;        
    border-left: 0px solid transparent;
    content: "";
    background: transparent;
    border-radius: 5px;
    transition: transform .25s;
    margin-left:16px;
}

.header-toolbar:hover:after {
    transform: scaleX(-1);
}

.header-toolbar{
    max-width: 10px;
    overflow: hidden;
    transition:max-width .5s ease-in-out;
    justify-content:flex-end;
    z-index:200;
    background-color:#36393e;
    padding:3px 0;
    padding-right:110px;
    padding-left:15px;
    border-radius:0;
    margin:0;
    height:34px;
    position:absolute;
    top:0;
    right:0;
}
.header-toolbar:hover {
    max-width:calc(100% - 125px);
}
.header-toolbar button,
.header-toolbar .separator,
.header-toolbar:after{
    order:1
}
.header-toolbar .search{
    margin-left:0;
}
.header-toolbar button:nth-of-type(1){
    margin-left:8px;
}
.chat .title-wrap{
    min-height:40px;
}
.win-buttons,
.osx-buttons,
.private-channels .search-bar,
.guild-header{
    min-height:40px;
    height:40px;
}

.guild-header header{
    height:40px;
    padding:0px 24px;
}
.guilds-wrapper .guilds{
    padding-top:25px;
}

.private-channel-call {
    padding:0;
    height:160px;
}
.private-channel-call-actions {
    margin-top:10px!important;
}
/*End of Required*/
.guilds-wrapper .guilds .friends-icon {
    display: none;
}
.guilds-wrapper .guilds > .guild:first-child,
.guilds-wrapper .guilds > .guild:first-child .guild-inner a{
	height:20px;
	display:flex;
}
.guilds-wrapper .guilds > .guild:first-child .guild-inner a:after {
	font-family: 'Material Icons';
	content: "attachment";
	font-size:28px;
	line-height:19px;
	height:100%;
	width:100%;
}
.guilds-wrapper .guilds > .guild:first-child .guild-inner{
	border-radius:5px!important;
}
/* Guilds selection animation */
.guilds-wrapper .guilds .guild:not(:first-child) {
    transition: height 0.5s;
}
.guilds-wrapper .guilds .guild:not(.guilds-add):not(:first-child):not(.dms) {
    height: 30px;
}
.guilds-wrapper .guilds .guild.selected:before {
//    margin-top: -5px;
}
.guilds-wrapper .guilds .guild.selected {
    z-index: 5;
}
.guilds-wrapper .guilds .guild.unread:not(.selected)::before {
    margin-top: 5px;
}
.guilds-wrapper .guilds .guild.unread:hover:not(.selected)::before {
//    margin-top: -6px;
}
.guilds-wrapper .guild:not(.guilds-add):not(:first-child):not(.dms):hover {
    height: 40px!important;
    padding-top: 10px;
    transform: scale(1.2);
    z-index:5
}
.guilds-wrapper .guild:hover+.guild:not(.guilds-add):not(:first-child):not(.dms) {
    height: 40px!important;
    padding-top: 5px;
    transform: scale(1.1);
    z-index:4
}
.guilds-wrapper .guild:hover+.guild+.guild:not(.guilds-add):not(:first-child):not(.dms) {
    height: 40px!important;
    padding-top: 0px;
    z-index:3
}
.guilds-wrapper .guild:hover+.guild:not(.guilds-add):not(:first-child):not(.dms):before, .guilds-wrapper .guild:hover+.guild+.guild:not(.guilds-add):not(:first-child):not(.dms):before {
    display: none!important;
}
/**/

.guilds-wrapper .new-messages-indicator.new-messages-indicator-mention {
    border-radius: 0;
    left:0;
    width:100%;
    transition: all .25s;
    font-size:11px;
	z-index:6;
}
.guilds-wrapper:not(:hover) .new-messages-indicator.new-messages-indicator-mention .icon.icon-unread-arrow{
    position:relative;
    left:-2px;
}
.guilds-wrapper:not(:hover) .new-messages-indicator.new-messages-indicator-mention {
    height:10px;
    font-size:0px;
}

/**/
/**/
.channel-members .avatar-small .status,
.private-channels .avatar-small .status,
.account .avatar-small .status {
    width: 100% !important;
    height: 100% !important;
    background: transparent;
    border-radius: 50%;
    top: -2px;
    left: -2px;
    box-shadow: 0 0 1px #000 inset;
}
.channel-members .avatar-small .status-online,
.private-channels  .avatar-small .status-online,
.account .avatar-small .status-online {
    border: 2px solid #43b581 !important;
}
.channel-members .avatar-small .status-idle,
.private-channels  .avatar-small .status-idle,
.account .avatar-small .status-idle {
    border: 2px solid #faa61a !important;
}
.channel-members .avatar-small .status-dnd,
.private-channels  .avatar-small .status-dnd,
.account .avatar-small .status-dnd {
    border: 2px solid #f04747 !important;
}
.channel-members .avatar-small .status-streaming,
.private-channels .avatar-small .status-streaming,
.account .avatar-small .status-streaming {
    border: 2px solid #643da7 !important;
}
.channel-members .avatar-small .status-invisible,
.private-channels  .avatar-small .status-invisible,
.account .avatar-small .status-invisible {
    border: 2px solid #747f8d !important;
}
.private-channels  .avatar-small .status-offline {
    border: 2px solid transparent !important;
}
.status.status-typing {
    width: 30px !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
}
.status.status-typing .spinner .spinner-inner {
    left: 1px;
    top: 1px;
}
/*end*/
